Search: <input ng-model="query" />
<p>Keyword: {{query | uppercase}}</p>

Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
</select>

<p>Sort by: {{orderProp}}</p>
<ul>
    <li ng-repeat="phone in phones | filter:query | orderBy: orderProp">
        <img ng-src="img/{{phone.id}}.jpg" />
        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
        <p>{{phone.snippet}}</p>
    </li>
</ul>
<p>Total number of phones: {{phones.length}}</p>
<p>{{phones | json}}</p>